# Enable RewriteEngine
RewriteEngine On

# Redirect all requests to index.html except for files and directories that exist
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ /index.html [L,QSA]
